<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
   <title>Home | KJSCE</title>
   <!-- <link rel="shortcut icon" href="/img/favicon.png"> -->

   <link rel="stylesheet" href="/plugins/simple-calendar/simple-calendar.css">
   <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&amp;display=swap">
   <link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
   <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
   <link rel="stylesheet" href="/css/style.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.js"></script>
   <link rel="icon" href="/img/logo-small.png" type="image/x-icon">
   <link rel="shortcut icon" href="/img/logo-small.png" type="image/x-icon">
   <style>
      .header {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: fixed;
}
      .button {
         display: flex;
         height: 50px;
         padding: 0;
         border: none;
         outline: none;
         border-radius: 5px;
         overflow: hidden;
         font-family: "Quicksand", sans-serif;
         font-size: 16px;
         font-weight: 500;
         cursor: pointer;
      }

      .approve {
         background-color: #0b6856;
      }

      .reject {
         background-color: red;
      }

      .approve:hover {
         background: #008168;
      }

      .approve:active {
         background: #006e58;
      }
      .card {
         margin:20px;
      }

      .popup {
         display: none;
         position: fixed;
         z-index: 1000;
         left: 0;
         top: 0;
         width: 100%;
         height: 100%;
         overflow: auto;
         background-color: rgba(0, 0, 0, 0.4);
      }

      .popup-content {
         background-color: #fefefe;
         margin: 15% auto;
         padding: 20px;
         border: 1px solid #888;
         width: 80%;
         max-width: 500px;
      }

      .close {
         color: #aaa;
         float: right;
         font-size: 28px;
         font-weight: bold;
         cursor: pointer;
      }

      .close:hover,
      .close:focus {
         color: black;
         text-decoration: none;
      }

      #openGmailBtn {
         background-color: #4CAF50;
         color: white;
         padding: 10px 20px;
         border: none;
         cursor: pointer;
         margin-top: 10px;
      }

      #openGmailBtn:hover {
         background-color: #45a049;
      }
      .row .col h3{
         margin:20px;
      }

      .reset {
         background-color: rgb(3, 100, 61);
      }

      .reset:hover {
         background: #03e0b4;
      }

      .reset:active {
         background: #04f8c7;
      }


      .reject:hover {
         background: #f12222;
      }

      .reject:active {
         background: #f83e44;
      }

      .button__text,
      .button__icon {
         display: inline-flex;
         align-items: center;
         padding: 0 24px;
         color: #fff;
         height: 100%;
      }

      .button__icon {
         font-size: 1.5em;
         background: rgba(0, 0, 0, 0.08);
      }
   </style>
</head>

<body>
   <div class="main-wrapper" >
      <div class="header" style="position: fixed;top: 0px;">
         <div class="header-left">
            <a href="http://localhost:8000/home" class="logo">
               <img src="/img/logo.svg" alt="Logo">
            </a>
            <a href="index.html" class="logo logo-small">
               <img src="/img/logo-small.svg" alt="Logo" width="30" height="45">
            </a>
         </div>
         <a href="javascript:void(0);" id="toggle_btn">
            <i class="fas fa-align-left"></i>
         </a>

         <a class="mobile_btn" id="mobile_btn">
            <i class="fas fa-bars"></i>
         </a>
         <ul class="nav user-menu">

            <li class="nav-item dropdown has-arrow">
               <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                  <span class="user-img"><img class="rounded-circle" src="/img/profiles/avatar-01.png" width="31"
                        alt="Ryan Taylor"></span>
               </a>
               <div class="dropdown-menu">
                  <button class="dropdown-item" onclick="logout()">Logout</button>
               </div>
            </li>
         </ul>
      </div>
      <div class="sidebar" id="sidebar">
         <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
               <ul>


                  <li class="active">
                     <a href="http://localhost:8000/home"><i class="fas fa-user-graduate"></i> <span> Dashboard</span><span
                           class="menu-arrow"></span></a>

                  </li>
                  <li>
                     <a href="http://localhost:8000/online"><i class="fas fa-code"></i> <span>Students
                           Online</span> <span class="menu-arrow"></span></a>

                  </li>
                  <li class="">
                     <a href="http://localhost:8000/history"><i class="fas fa-chalkboard-teacher"></i> <span> Student
                           History</span>
                        <span class="menu-arrow"></span></a>
                     <ul>

                     </ul>
                  </li>
                  <li class="">
                     <a href="http://localhost:8000/offline"><i class="fas fa-building"></i> <span> Students Offline</span> <span
                           class="menu-arrow"></span></a>

                  </li>
               </ul>
            </div>
         </div>
      </div>
      <div class="page-wrapper">
         <div class="content container-fluid">
            <div class="page-header">
               <div class="row">
                  <div class="col-sm-7">
                     <h3 class="page-title">Welcome Admin!</h3>
                     <ul class="breadcrumb">
                        <li class="breadcrumb-item active">Dashboard</li>
                     </ul>
                  </div>
                  <div class="col col-3">
                     <label><b>Change Academic year</b></label>
                     <select class="form-control" id="academic_year" name="academic_year" onchange="changeAcademicYear()">
                        <option value="2024-2025">2024-2025</option>
                        <option value="2025-2026">2025-2026</option>
                        <option value="2026-2027">2026-2027</option>
                        <option value="2027-2028">2027-2028</option>
                        <option value="2028-2029">2028-2029</option>
                        <option value="2029-2030">2029-2030</option>
                        <option value="2030-2031">2030-2031</option>
                        <option value="2031-2032">2031-2032</option>
                        <option value="2032-2033">2032-2033</option>
                        <option value="2033-2034">2033-2034</option>
                        <option value="2034-2035">2034-2035</option>
                        <option value="2035-2036">2035-2036</option>
                        <option value="2036-2037">2036-2037</option>
                        <option value="2037-2038">2037-2038</option>
                        <option value="2038-2039">2038-2039</option>
                        <option value="2039-2040">2039-2040</option>
                        <option value="2040-2041">2040-2041</option>
                        <option value="2041-2042">2041-2042</option>
                        <option value="2042-2043">2042-2043</option>
                        <option value="2043-2044">2043-2044</option>
                        <option value="2044-2045">2044-2045</option>
                        <option value="2045-2046">2045-2046</option>
                        <option value="2046-2047">2046-2047</option>
                        <option value="2047-2048">2047-2048</option>
                        <option value="2048-2049">2048-2049</option>
                        <option value="2049-2050">2049-2050</option>

                     </select>
                  </div>
                  <div class="col-sm-2">
                     <button type="button " class="button reset" onclick="restSem()">
                        <span class="button__text">Reset Semester</span>
                        <span class="button__icon">
                           <ion-icon name="sync-outline"></ion-icon>
                        </span>
                     </button>
                  </div>
               </div>
            </div>
            <!-- <div class="row">
               <div class="col-xl-3 col-sm-6 col-12 d-flex">
                  <div class="card bg-five w-100">
                     <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                           <div class="db-icon">
                              <i class="fas fa-chalkboard"></i>
                           </div>
                           <div class="db-info">
                              <h3>04/06</h3>
                              <h6>Total Classes</h6>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 col-12 d-flex">
                  <div class="card bg-six w-100">
                     <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                           <div class="db-icon">
                              <i class="fas fa-user-graduate"></i>
                           </div>
                           <div class="db-info">
                              <h3>40/60</h3>
                              <h6>Total Students</h6>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 col-12 d-flex">
                  <div class="card bg-seven w-100">
                     <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                           <div class="db-icon">
                              <i class="fas fa-book-open"></i>
                           </div>
                           <div class="db-info">
                              <h3>30/50</h3>
                              <h6>Total Lessons</h6>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-xl-3 col-sm-6 col-12 d-flex">
                  <div class="card bg-eight w-100">
                     <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                           <div class="db-icon">
                              <i class="fas fa-clock"></i>
                           </div>
                           <div class="db-info">
                              <h3>15/20</h3>
                              <h6>Total Hours</h6>
                           </div>
                        </div>
                     </div>
                  </div> 
               </div>-->
            </div>
            
            <div class="row">
               <div class="col col-8">
                  <h3>Approvals/Rejected Student</h3>
               </div>
            </div>

            <div class="row">
               <div class="col-sm-12">
                  <div class="card card-table">
                     <div class="card-body">
                        <div class="table-responsive">
                           <table class="table table-hover table-center mb-0 datatable" id="data-table">
                              <thead>
                                 <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>

                                    <th>Semester</th>
                                    <th>Department</th>
                                    <th>Domain</th>
                                    <th>Course Type</th>
                                    <th>Course Name</th>
                                    <th>Hours</th>
                                    <th>Total Hours</th>
                                    <th>Approve</th>
                                 </tr>
                              </thead>
                              <tbody id="tbody">

                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>




      </div>
      <div id="emailPopup" class="popup" style="display:none;">
         <div class="popup-content">
            <span class="close">&times;</span>
            <h2>Send Rejection Email</h2>
            <p><strong>To:</strong> <span id="popupEmail"></span></p>
            <p><strong>Subject:</strong> <span id="popupSubject"></span></p>
            <p><strong>Message:</strong> <span id="popupBody"></span></p>
            <button id="openGmailBtn">Open in Gmail</button>
         </div>
      </div>
      <div class="row">

      </div>
      <!-- <footer>
               <p>Copyright © 2020 Dreamguys.</p>
            </footer> -->
   </div>
   </div>

   <script>
      // async function getdata() {
      //    var tbody = '';
      //    var semester = "--Select Semester--";
      //    // if (choice == 1) {
      //    //    var apprej = "approval";
      //    // }
      //    var apprej=""
      //    var type = "--Select Course Type--";
      //    var branch = "--Select Branch--";
      //    var data;
      //    console.log(apprej)
      //    try {
      //       data = await axios({
      //          url: "http://localhost:8000/getStudentDataOnlineall",
      //          method: "post",
      //          data: { courseType: type, branch: branch, apprej: "approval" }
      //       });
      //       console.log(data.data.result);
      //       //   console.log(data.data.result[0].domain);
      //       console.log(data.data.certificates);
      //       var list = data.data.result;
      //       var course = data.data.course;
      //       var hours = 0;
      //       var t; // to check for approval and rejected

      //       if (list.length>0) {
      //          for (let i = 0; i < list.length; i++) {
      //             document.getElementById("academic_year").value=list[0].year;
      //             console.log(list[0].year);
      //             console.log(list[i].courses_enrolled);
      //             if (list[i].course_approved == 0 && list[i].course_rejected == 0) {
      //                tbody = tbody + `<tr>
      //                                  <td>${list[i].student_id}</td>
      //                                  <td>
                                         
      //                                       ${list[i].student_name}
                                          
      //                                  </td>
      //                                  <td>${list[i].email}</td>
      //                                  <td id="sem">${list[i].semester}</td>
      //                                   <td>${list[i].branch}</td>
      //                                  <td>${list[i].domain}</td>
      //                                  <td id="types">${list[i].courses_type}</td>
      //                                  <td>${list[i].courses_enrolled}</td>
      //                                  <td>${list[i].total_hours}</td>
      //                                  <td>${list[i].final_hours}</td>
                                      
      //                                  <td >
      //                                     <button type="button" class="button approve" onclick="approve(1,'${list[i].id}','${list[i].email}','${list[i].semester}','${list[i].courses_type}')" style="margin-bottom:10px">
      //                                        <span class="button__text ">Approve</span>
      //                                        <span class="button__icon">
      //                                        <ion-icon name="checkmark-done-outline"></ion-icon></span>
      //                                     </button>
      //                                     <button type="button " class="button reject"  onclick="approve(0,'${list[i].id}','${list[i].email}','${list[i].semester}','${list[i].courses_type}')">
      //                                        <span class="button__text">Reject</span>
      //                                        <span class="button__icon">
      //                                           <ion-icon name="close-outline"></ion-icon>
      //                                        </span>
      //                                     </button>
      //                           </td>
      //                               </tr>
      //                               `;

      //             } else {
      //                if (list.length == 0) {
      //                   tbody = "NO Request"
      //                }
      //             }
      //          }
      //          document.getElementById('tbody').innerHTML = tbody;
      //       }

      //    } catch (e) {
      //       console.log("error is:", e);
      //    }
      // }
      async function getdata() {
    try {
        const response = await axios({
            url: "http://localhost:8000/getStudentDataOnlineall",
            method: "post",
            data: { courseType: "--Select Course Type--", branch: "--Select Branch--", apprej: "approval" }
        });

        console.log("Response data:", response.data);

        const list = response.data.result;
        if (!list || list.length === 0) {
            document.getElementById('tbody').innerHTML = "<tr><td colspan='11'>No data available</td></tr>";
            return;
        }

        let tbody = '';
        for (let i = 0; i < list.length; i++) {
         console.log("fds")
            if (list[i].course_approved == 0 ) {
                tbody += `
                    <tr>
                        <td>${list[i].student_id}</td>
                        <td>${list[i].student_name}</td>
                        <td>${list[i].email}</td>
                        <td id="sem">${list[i].semester}</td>
                        <td>${list[i].branch}</td>
                        <td>${list[i].domain}</td>
                        <td id="types">${list[i].courses_type}</td>
                        <td>${list[i].courses_enrolled}</td>
                        <td>${list[i].total_hours}</td>
                        <td>${list[i].final_hours}</td>
                        <td>
                            <button type="button" class="button approve" onclick="approve(1,'${list[i].id}','${list[i].email}','${list[i].semester}','${list[i].courses_type}')" style="margin-bottom:10px">
                                <span class="button__text">Approve</span>
                                <span class="button__icon">
                                    <ion-icon name="checkmark-done-outline"></ion-icon>
                                </span>
                            </button>
                            <button type="button" class="button reject" onclick="approve(0,'${list[i].id}','${list[i].email}','${list[i].semester}','${list[i].courses_type}')">
                                <span class="button__text">Reject</span>
                                <span class="button__icon">
                                    <ion-icon name="close-outline"></ion-icon>
                                </span>
                            </button>
                        </td>
                    </tr>
                `;
                console.log(tbody)
            }
        }

        if (tbody === '') {
            tbody = "<tr><td colspan='11'>No pending approvals</td></tr>";
        }

        document.getElementById('tbody').innerHTML = tbody;
        console.log("Table body updated");

        // Update academic year if available
        if (list.length > 0 && list[0].year) {
            document.getElementById("academic_year").value = list[0].year;
            console.log("Academic year updated:", list[0].year);
        }

    } catch (e) {
        console.error("Error in getdata():", e);
        document.getElementById('tbody').innerHTML = "<tr><td colspan='11'>Error loading data</td></tr>";
    }
}
      getdata();

      async function setYear(){
         var year = await axios({
            url:"http://localhost:8000/getYear",
            method:"post",

         })
         response=year.data.result;
         document.getElementById("academic_year").value=response;

      }
      setYear()

      async function restSem() {
         try {
            var data = await axios({
               "url": "http://localhost:8000/resetSem",
               "method": "POST",
            })
            if (data.data.result == 1) {
               alert("Semester Reset")
            }
         } catch (e) {
            console.log("error is:", e);
         }
      }

      async function logout() {
         var data=await axios({
            "url": "http://localhost:8000/logout",
            "method": "post",

         })
         window.location.replace("http://localhost:8000/");
         
      }

      function showRejectionPopup(id, email, semester, type) {
         let subject =  'Your OET/OEHM is Rejected' ;
         let body = 'Kindly refill the data.';

         document.getElementById('popupEmail').textContent = email;
         document.getElementById('popupSubject').textContent = subject;
         document.getElementById('popupBody').value = body;


         sendRejectionEmail(id, email, subject, document.getElementById('popupBody').value);


         //document.getElementById('emailPopup').style.display = "block";
      }

      async function sendRejectionEmail(id, email, subject, body) {
         try {
            const response = await axios.post('http://localhost:8000/sendRejectionEmail', {
               id: id,
               email: email,
               subject: subject,
               body: body
            });

            if (response.data.success) {
               alert('Email sent successfully');
               document.getElementById('emailPopup').style.display = "none";
            } else {
               alert('Failed to send email');
            }
         } catch (error) {
            console.error('Error sending email:', error);
            alert('An error occurred while sending the email');
         }
      }


      async function approve(approve, id, email, semester, type) {
         console.log("jello");
         if (approve === 0) {

            showRejectionPopup(id, email, semester, type);

            // Proceed with the rejection process on the server

            console.log("hello")
            console.log(approve, id, email, semester, type);
            try {
               var response = await axios({
                  url: "http://localhost:8000/webhook/trigger-reonboarding",
                  method: "post",
                  data: { approve: approve, id: id, userEmail: email, semester: semester, type: type }
               });
               console.log(response.data.result);
               //var list = response.data.data;
               if (response.data.result) {
                  getdata()
               }
            } catch (e) {
               console.log("error is:", e);
            }
         } else {
            var response = await axios({
               url: "http://localhost:8000/approve",
               method: "post",
               data: { approve: approve, id: id, email: email, semester: semester, type: type }
            });
            console.log("approve", response.data.result)
            if (response.data.result == 1) {
               getdata()
            } else {
               alert("Error")
            }
         }
      }

      async function changeAcademicYear(){
         var year=document.getElementById("academic_year").value;
         var response = await axios({
            url: "http://localhost:8000/changeAcademicYear",
            method: "post",
            data: { year: year }
         });
         console.log("approve", response.data.result);
         if (response.data.result == 1) {
            alert("Academic Year change")
         }
         
      }
   </script>
   <script src="/js/jquery-3.6.0.min.js"></script>
   <script src="/js/popper.min.js"></script>
   <script src="/plugins/bootstrap/js/bootstrap.min.js"></script>
   <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
   <script src="/plugins/apexchart/apexcharts.min.js"></script>
   <script src="/plugins/apexchart/chart-data.js"></script>
   <script src="/js/script.js"></script>
   <script src="https:/unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

   <script src="/plugins/simple-calendar/jquery.simple-calendar.js"></script>
</body>

</html>